#login-screen, #main-chat-screen {
    margin: 0 auto;
    padding-top: 10px;
    width: 100%;
}
body {
    background-color: #d2d6de;
    color: #333;
    font-family: "Bookman", Georgia, "Times New Roman", serif;
    font-size: 14px;
    line-height: 1.42857;
}
.main {
    padding-top: 10px;
    text-align: center;
}
#login-screen {
    background-color: #ffffff;
    border: medium none #ffffff;
    height: 408px;
    margin-top: 20%;
    padding-top: 10%;
}
.lead {
    font-family: "Bookman",Georgia,"Times New Roman",serif;
    font-size: 56px;
}
.chat {
    font-family: "Bookman",Georgia,"Times New Roman",serif;
    margin-left: 23%;
    width: 63%;
}
.name {
    float: left;
    font-family: "Bookman",Georgia,"Times New Roman",serif;
    font-size: large;
    padding-top: 9px;
}
.alert {
    /*border-radius: 4px;*/
    font-size: 12px;
    margin-top: 30px;
    padding: 15px;
}
.join {
    cursor: pointer;

}

.final {
    font-color: #000;
}

.interim {
    font-color: #f00;

}

* {
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
}

/**chat page **/

     #chatForm {
         text-align: center;
     }

.setting
{
    background-color: #e9e9e9;
    border: 1px solid #000;
    padding: 10px 15px;
    position: relative;
    list-style-type: none;
    text-decoration: none;

}
.setting .sign
{
    padding-top: 10px;

}
.sign a{
    color: #000000;
}
#conversation {
    background-color: #ffffff;
    border: 1px solid #bbb;
    font-size: 15px;
    height: 400px;
    line-height: 2;
    list-style-type: none;
    overflow-y: scroll;
    padding: 10px;
    width: 100%;
}
.room {
    border: 1px solid;
    color: #ffffff;
}
.people {
    border: 1px solid;
    color: #ffffff;
}
.badge {
    background-color: beige;
    /*border-radius: 10px;*/
    color: #000;
    display: inline-block;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    min-width: 10px;
    padding: 3px 7px;
    text-align: center;
    vertical-align: baseline;
    white-space: nowrap;

}

.list-group-item {
    background-color: #fff;
    border: 1px solid #dddddd;
    display: block;
    padding: 10px 15px;
    position: relative;
}
.text
{
    width: 100%;
    padding: 10px;
    border-top: 0;
    margin: 0;
    max-width: 100%;
    min-width: 100%;
    overflow-y: scroll;

}
.dropdown-menu
{
    font-style: italic;
    font-family: "Bookman", Georgia, "Times New Roman", serif;
    font-size: 15px;

}

.button-style
{
    color: rgb(245, 245, 245);
    background-color: rgb(34, 80, 226);
    height: 45px;
    width: 130px;
    border-radius: 5px;
    font-weight: bold;
}
.files {
    float: right;
}

/** Modal start **/

.modal-title
{
    font-family: "Bookman", Georgia, "Times New Roman", serif;
    font-size: 15px;
}
.modal-body
{
    font-family: "Bookman", Georgia, "Times New Roman", serif;
    font-size: 15px;
}
#createRoomForm
{
    padding-top: 6px;
}
#msg
{
    padding-top: 7px;
}
#msgs > li {
    background-color: #a2cbde;
    line-height: 2;
    overflow-y: auto;
    padding-left: 30px;
    white-space: pre;
}

#msgs > li {

    width: 100%;
}
#msgs i {
    float: right;
}
.add
{
    background-color: #a2cbde;
    line-height: 2;
    overflow-y: auto;
    padding-left: 30px;
    white-space: pre;
}
* {
    border-radius: 4px !important;
}
small, .small {
    font-size: 75%;
}
.server {
    color: green;
    font-size: 19px;
}
.welcome {
    color: darkviolet;
    font-size: 20px;
}
#logout {
    float: right;
    margin-right: 11%;
    width: 7%;
}

 #draggable {
     width: 150px;
     height: 150px;
     padding: 0.5em;
 }
.flag {
    display: inline-block;
    height: 11px;
    width: 16px;
}
.active
{
    color: green;

}

.messages {
    font-family: "Bookman", Georgia, "Times New Roman", serif;
}

.private
{
    font-size: 15px;
    color:black;
}
.whisper.btn.btn-xs
{
    background-color: orange;
    color: black;
}
.roomname {
    color: brown;
    font-size: 15px;
    font-weight: bold;
    line-height: 2.2;
    text-align: center;
}
.private {
    color: black;
    font-size: 15px;
    line-height: 2.5;
}

.fa {
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 17px;
}
.img {
    opacity: 0.4;
    filter: alpha(opacity=40); /* For IE8 and earlier */
    cursor: pointer;
}

/*.img:hover {*/
    /*opacity: 1.0;*/
    /*filter: alpha(opacity=100); *//* For IE8 and earlier */
    /*cursor: pointer;*/
/*}*/
.chatpage {
    background-color: #ffffff;
    float: left;
    height: 100%;
    text-align: left;
    width: 100%;
}
