/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*********************************************/


@font-face {
	font-family: 'cabinregular';
	src: url('../fonts/cabin-regular.eot');
	src: url('../fonts/cabin-regular.eot?#iefix') format('embedded-opentype'),
	url('../fonts/cabin-regular.woff2') format('woff2'),
	url('../fonts/cabin-regular.woff') format('woff'),
	url('../fonts/cabin-regular.ttf') format('truetype'),
	url('../fonts/cabin-regular.svg#cabinregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'open_sanslight';
	src: url('../fonts/opensans-light.eot');
	src: url('../fonts/opensans-light.eot?#iefix') format('embedded-opentype'),
	url('../fonts/opensans-light.woff2') format('woff2'),
	url('../fonts/opensans-light.woff') format('woff'),
	url('../fonts/opensans-light.ttf') format('truetype'),
	url('../fonts/opensans-light.svg#open_sanslight') format('svg');
	font-weight: normal;
	font-style: normal;
}
.no_padding{
	padding: 0;
}
.header-section, .navbar-section, .banner-section{
background-color:#ededed;
height:auto;
}
.header.row {
	padding-bottom: 3%;
	padding-top: 1%;
}
.logo a{
	color:#4f4f4f;
	text-decoration:none;
}
.logo h1{
	font-size:30px;
	padding-top:5%;
}
.cont-mail {
	padding-top: 1%;
}
.cont-mail i{
	color:#464646;
}
.cont-no.col-md-6 {
	text-align: right;
}
.cont-no.col-md-6 > span, .mail.col-md-6 > span {
	color: #467ebf;
}
.corp {
	font-family: open_sanslight;
	font-size: 24px;
	margin-bottom: 2%;
}
.ban-cont {
	padding-top: 6%;
}
.resp {
	color: #1db2e8;
	font-size: 30px;
	text-shadow: 1px 1px #fff;
	margin-bottom:3%;
}
.left-arrow, .right-arrow {
	padding-top: 88px;
}
.left-arrow img, .right-arrow img {
	border: 1px solid #ccc;
	padding: 20px 7px;
	background-color:#dcdcdc;
}
.content {
	font-family: open_sanslight;
	font-size: 12px;
	line-height: 1.5;
	margin-bottom: 50px;
	text-shadow: 1px 1px #fff;
	width: 67%;
}
.ban-cont > a {
	background-color: #0088c5;
	font-family: open_sanslight;
	border-radius: 4px;
	color: #fff;
	font-size: 13px;
	padding: 8px;
	text-decoration: none;
}
.banner-part {
	background: rgba(0, 0, 0, 0) url("../images/banner-bg-image.png") no-repeat scroll 0 0 / cover ;
	height: 350px;
}
.ban-img img {
	margin-left: -75px;
	margin-top: -26px;
}
.menus .navbar .container-fluid {
	background-color: #eaeaea;
}
.navbar-section .nav li a {
	padding: 10px;
	width: 120px;
	text-align: center;
}
.navbar-section .nav li.active a{
	 color: #fff;
	 background-color:#1db2e8;
	border: 1px solid #ccc;
 }
.navbar-section .nav li.active a:hover{
	color: #fff;
	background-color:#1db2e8;
	border: 1px solid #ccc;
}
.navbar-section .nav li a:hover {
	background-color: #1db2e8;
	color: #fff;
	border: 1px solid #ccc;
}
.navbar-section .form-group > input{
	width:250px;
	border-radius:0px;
}
.navbar-section .navbar {
	min-height: auto;
}
.navbar-section .navbar-form.navbar-left > span {
	border: 1px solid #ccc;
	display: block;
	float: right;
	margin: 0;
	padding: 8px;
}
.navbar-section .navbar-form.navbar-left {
	margin: 0;
	padding: 5px;
}
.ser-tit {
	margin-bottom: 12px;
}
.ser-tit i {
	background-color: #505050;
	border-radius: 50px;
	color: #fff;
	height: 30px;
	padding: 7px;
	width: 30px;
	text-align: center;
}
.ser_cont > p {
	color: #787878;
	font-size: 13px;
	line-height: 1.2;
}
.services-section, .creative-section, .latest-work-section, .split-section, .clients-say {
	background-color: #ffffff;
}
.services.row {
	padding-top: 3%;
	padding-bottom: 5%;
}
.ser_cont > p {
	margin-right: 20%;
}
.creative {
	background-color: #f2f2f2;
	margin-bottom: 7%;
	border: 1px solid #ccc;
}
.row.design {
  font-family: cabin-regular;
  font-size: 28px;
  padding-top: 30px;
  text-align: center;
  padding-bottom: 10px;
}
.row.tech {
  font-family: open_sanslight;
  font-size: 16px;
  text-align: center;
  padding-bottom: 20px;
}
.row.more-but {
  text-align: center;
	padding-bottom: 4%;
	padding-top: 2%;
}
.row.more-but > a {
  background-color: #0085c5;
  border: 1px solid #ccc;
  border-radius: 3px;
  color: #fff;
  padding: 10px;
  text-decoration: none;
}
.copy-right-section{
  background-color: #414141;
}
.copy-right .row{
padding: 10px;
}
.copy-cont.pull-left > p {
	color: #fff;
	font-size: 16px;
	margin-top: 2%;
}
.footer-section{
background-color:#333333;
}
.lat-title {
  color: #098bf7;
  font-family: cabin-regular;
  font-size: 15px;
}
.parag {
	font-family: open_sanslight;
	font-size: 12px;
	line-height: 1.5;
	padding-top: 3%;
}
.our-client h2, .features h2, .lat-work-title h2 {
  font-family: cabin-regular;
  font-size: 20px;
  margin-bottom: 5%;
}
.left-side-arrow {
	float: left !important;
	margin-right: 20px;
	padding: 5px;
	color: #666666;
}
.right-side-arrow{
	padding: 5px;
	color: #666666;
}
.features ul li i {
	color: #098bf7;
}
.client-tit {
	display: inline-block;
}
.left-light-arr i, .right-light-arr i{
	color:#c6c6c6;
}
.left-light-arr {
	float: left !important;
	margin-right: 10px;
}
.row.client-cont > p {
	color: #727272;
	font-family: open_sanslight;
	font-size: 14px;
	line-height: 1.5;
	padding: 20px;
	background-color:#f2f2f2;
}
.row.client-name span {
	color: #6eaef9;
	margin-right: 5px;
	padding-left: 10%;
}
.row.client-name > p {
	font-family: open_sanslight;
	font-size: 13px;
}
.clients-say {
	padding-bottom: 5%;
	padding-top: 2%;
}
.features span {
	font-family: open_sanslight;
	font-size: 12px;
	margin-left: 1%;
	line-height: 2.2;
}
.footer-section {
	padding-bottom: 3%;
	padding-top: 3%;
}
.footer h3
{
	color:#fff;
	font-family:cabin-regular;
	font-size:18px;
	padding-bottom: 5%;
}
.blog1, .blog2, .tweet1, .tweet2,.cont-no, .mail, .address {
	color: #fff;
}
.copy-right-section {
	padding-top: 1%;
	padding-bottom: 1%;
}
.social-icons.pull-right ul li img {
	float: left !important;
	padding-left: 1%;
}

.tweet1 {
	padding-bottom: 7%;
	padding-top: 3%;
}
.tweet1 i, .tweet2 i {
	background-color: #fff;
	border: 1px solid #fff;
	border-radius: 15px;
	color: #333333;
	padding: 2%;
	float: left!important;
	margin-right: 2%;
}
.tweet1 p, .tweet2 p {
	color: #a1a1a1;
	font-family: open_sanslight;
	font-size: 13px;
	padding-bottom: 3%;
}
.tweet1 > span,.tweet2 > span {
	color: #0d86ed;
	font-family: open_sanslight;
	font-size: 13px;
	padding-left: 13%;
}
.blog1, .blog2 {
	display: inline-block;
}
.blog1 {
	padding-bottom: 6%;
	padding-top: 2%;
}
.blog-img {
	float: left !important;
	margin-right:3%;
}
.blog-cont > span {
	font-family: open_sanslight;
	font-size: 12px;
	color: #a1a1a1;
}
.blog-cont > p {
	font-family: open_sanslight;
	font-size: 12px;
	margin-top: 2%;
	color: #a1a1a1;
}
.cont-no, .mail, .address {
	color: #a1a1a1;
}
.cont-no, .mail {
	padding-bottom: 2%;
	padding-top: 2%;
}
.cont-no > span {
	font-family: open_sanslight;
	font-size: 14px;
	padding-left: 2%;
}
.mail > span {
	font-family: open_sanslight;
	font-size: 14px;
	padding-left: 1%;
}
.address {
	padding-top: 8%;
}
.address > p {
	font-family: open_sanslight;
	font-size: 13px;
	line-height: 1.2;
}
.chat-sec .title-bar {
  background-color: #9d0a0e;
  color: #fff;
  padding: 3%;
  text-decoration: none;
  border-radius: 5px;
}
.title-bar > h3 {
	float: left !important;
	margin-left: 5%;
	margin-right: 50%;
}
.title-bar > h3:hover{
	text-decoration:underline;
}
.contact-form {
  background-color: #fff;
}
.contact-form > p {
	font-family: open_sanslight;
	font-size: 13px;
	padding-bottom: 4%;
	padding-left: 2%;
	padding-top: 3%;
	line-height: 1.5;
}
.inp-box {
  margin-bottom: 2%;
  margin-left: 3%;
  padding: 3%;
  width: 88%;
}
.chat-but {
  margin-bottom: 3%;
  margin-left: 2%;
  padding: 2%;
  width: 50%;
  border-radius: 3px;
}
.chat-sec{
position: fixed;
    bottom: 0;
    right: 0;
    width: 300px;
}
